#ratesapp form {
	background-color: #fff;
	margin: 20px 0;

}

#ratesapp h3 {
	margin-top: 0;
	margin-bottom: 0;
}

#ratesapp h3 img {
	max-height: 60px;
}

#ratesapp .results-panel {

	background-color: #fff;
	padding: 0 10px;
	color: rgba(0, 0, 0, 0.75);

}

#ratesapp .error-panel {
	background-color: #fff;
	margin-bottom: 20px;
}

#ratesForm md-tabs md-input-container {
	margin-bottom: 1px;
}

#ratesForm md-autocomplete-wrap {
	box-shadow: 0px 1px 3px 0px rgba(36, 203, 211, 0.9), 0px 1px 1px 0px rgba(36, 203, 211, 0.84), 0px 2px 1px -1px rgba(36, 203, 211, 0.82);
}